/* RESET E IMPOSTAZIONI GENERALI */

* {
    margin: 5px;
    border: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.immagine {
    max-height: 85%;
    max-width: 900px;
    user-select: none;
}

.contenitore {
    width: 1100px;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    background-color: bisque;
}

.cont-immagini {
    display: flex;
    flex-direction: column;
    height: 699px;
    width: 902px;
    align-items: center;
    justify-content: space-between;
    /* background-color: yellow; */
}

.segnaposto {
    height: 15%;
    width: 100%;
    /* background-color: rgb(255, 0, 72); */
    display: flex;
    justify-content: center;
}

.simbolo {
    font-size: 4em;
    color: black;
}

.pallino {
    font-size: 1.5em;
    margin: 5px;
}
.bianco {
    color: white;
}